body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 15px;
  font-family: var(--font-poppins);
  overflow: hidden;
}
.ant-radio-wrapper {
  display: flex !important;
  align-items: center;
}
.form-group {
  margin-bottom: 12px;
  label {
    display: block;
    line-height: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #424242;
    padding: 8px 0;
  }
}
h2.ant-typography.page-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}
h2.ant-typography {
  font-weight: 700;
  margin: 0 0 15px 0;
  font-size: 28px;
  color: #1c2024;
}
h3.ant-typography {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
h4.ant-typography.sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 18px;
}
h4 {
  margin: 0;
}
h5.ant-typography {
  margin: 0;
}
p {
  font-size: 14px;
  color: rgba(0, 7, 19, 0.6235294118);
  font-weight: 400;
  margin-bottom: 20px;
}
.gray-box {
  background: #fafafa;
}
.p-15 {
  padding: 15px;
}
.p-r-b-l-15 {
  padding: 0 15px 15px 15px;
}
.vertical-content {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .vertical-text {
    display: inline-block;
    vertical-align: top;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    font-size: 12px;
  }
}
.common-panel-wrapper {
  width: 100%;
  border: 1px solid #eaeaec;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1019607843);
}

.card {
  background: #ffff;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 15rem;

  .ant-card-head {
    padding: 0;
    min-height: auto;
    border-bottom: 0;

    .ant-card-head-title {
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      font-weight: 400;
    }
  }
  .ant-card-body {
    padding: 0;
  }
}
.events-card {
  border: 1px solid #dedee3;
  padding: 12px;

  .ant-card-body {
    padding: 15px 0 0 0;
  }
  h3.ant-typography {
    margin-top: 6px;
    margin-bottom: 0;
    color: #1c2024;
    font-weight: 500;
    font-size: 16px;
    white-space: wrap;
  }
  h5.ant-typography {
    font-weight: 400;
    font-size: 12px;
    color: #000;
  }
  a {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
  }
  .site-btn {
    padding: 6px 15px !important;
  }
}

.site-btn {
  height: auto !important;
  border-radius: 4px !important;
  padding: 10px 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 14px;
    font-weight: 600;
  }

  &.dark-btn {
    background-color: #0f2137 !important;

    span {
      color: #fff;
    }
  }
  &.gray-btn {
    background-color: #e4e6eb !important;

    span {
      color: #424242;
    }
  }
  &.into-btn {
    width: 35px !important;
    height: 35px !important;
    color: #65676b;
    background: #f5f8fa;
    padding: 0 !important;

    & > span {
      padding: 0;
      margin: 0;
      line-height: 1;
      flex-shrink: 0;
    }

    svg {
      width: 18px !important;
      height: 18px !important;
    }
  }
}
