.task-page :global {
  .task-count-wrapper {
    .card {
      h3 {
        font-weight: 600;
        font-size: 32px;
        color: #212121;
        margin-bottom: 0;
      }
    }
  }
}

.charity-page :global {
  .charity-table {
    .filter-wrapper {
      margin-bottom: 15px;
      .form-group {
        margin-bottom: 0;
      }
      .filter-by {
        display: flex;
        align-items: center;
        gap: 16px;
        & > div {
          width: 80%;
        }
      }
    }
  }
}
