.task-page :global {
  .task-count-wrapper {
    .card {
      h3 {
        font-weight: 600;
        font-size: 32px;
        color: #212121;
        margin-bottom: 0;
      }
    }
  }
}

.charity-page :global {
  .charity-table {
    .filter-wrapper {
      margin-bottom: 15px;
      .form-group {
        margin-bottom: 0;
      }
      .filter-by {
        display: flex;
        align-items: center;
        gap: 16px;
        & > div {
          width: 80%;
        }
      }
    }
  }
}

.quizzes-page :global {
  .select-quizzes-card-wrapper {
    .ant-card-head-title {
      color: #424242;
      font-weight: 500;
      font-size: 16px;
    }
    h5.ant-typography {
      margin-top: 10px;
      line-height: 14px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 20px;
    }
    .site-btn {
      width: 100%;
    }
  }
}

.charity-page :global {
  .complete-you-tasks-cards {
    .strike-check-box {
      .ant-checkbox-wrapper {
        & > span:first-child {
          align-self: flex-start;
          margin-top: 3px;
        }
        & > span:last-child {
          line-height: normal;
          vertical-align: baseline;
        }
      }
    }
  }
}

.habit-page :global {
  .complete-you-tasks-cards {
    .ant-card-extra {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    h5 {
      margin: 10px 0 15px 0;
    }
  }
}
