/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./style/dashboard.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_dashboard-wrapper__1yF_z .main-layout {
  position: relative;
  min-height: 100vh;
  padding-top: 60px;
  background-color: #eff2f5;
  display: flex;
  justify-content: space-between;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main {
  width: clamp(320px, 20vw, 360px) !important;
  max-width: 360px !important;
  min-width: 50px !important;
  flex: none !important;
  position: relative;
  background-color: #fff;
  border-right: 1px solid #ebedf2;
  height: calc(100vh - 60px);
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li {
  border-radius: 6px;
  padding: 0 10px !important;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li:not(:last-child) {
  margin-bottom: 15px;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li:hover {
  background: transparent;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li span {
  font-size: 15px;
  font-weight: 500;
  color: #65676b;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li .ant-menu-submenu-title {
  padding-left: 10px !important;
  width: 100% !important;
  margin-left: 0;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li .ant-menu-submenu-title:hover {
  background: transparent;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li.ant-menu-submenu-open {
  background: #f0f2f5;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li.ant-menu-item-selected {
  border-radius: 0;
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li.ant-menu-item-selected:hover {
  background: hsl(29, 87.9%, 90%);
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .sidebar-main .inner-sidebar ul.sidebar-menu li.ant-menu-item-selected span {
  color: #050505;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--font-poppins);
}
.dashboard_dashboard-wrapper__1yF_z .main-layout .main-contain-layout {
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 0 15px;
}
